Repository rizqikazukun/zulfi-water-fresh: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{css,sass,scss}": ["stylelint --fix", "prettier --write"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "!(*.css|*.js|*.jsx)": ["prettier --write"]
}

chore: ⚙️ config pre commit
  .husky/pre-commit
  .lintstagedrc
  changelog.config.js
  commitlint.config.ts
  package.json
Due: prettier --write, eslint --fix

chore: ⚙️ change default version of node
  .nvmrc
Due: none

chore: ⚙️ add .yarn to gitignore
  .gitignore
Due: none

chore: ⚙️ add some dependencies
  .vscode/extensions.json
  .vscode/settings.json
  next.config.js
  next.config.mjs
  package.json
  postcss.config.js
  tailwind.config.js
  yarn.lock
Due: prettier --write, eslint --fix

style: 👘 change css -> sass
  src/app/globals.css
  src/app/globals.sass
Due: stylelint --fix, prettier --write

feat: 💎 add some medias
  public/media/water.mp4
  src/component/general/icons/list-bold.svg
  src/component/general/icons/list.svg
  src/component/general/icons/map-pin.svg
  src/component/general/icons/whatsapp-logo.svg
Due: none

fix: 🛠️ update progress of landing page
  .husky/pre-commit
  .lintstagedrc
  src/app/layout.tsx
  src/app/page.tsx
  src/component/general/card-list/index.tsx
  src/component/general/card-strenght/index.tsx
  src/component/general/container-layout/index.tsx
  src/component/general/navbar/index.tsx
  src/component/home/hero/index.tsx
  src/component/home/list-of-strength/index.tsx
  src/front-utils/tailwind-merge.ts
Due: prettier --write, eslint --fix
